.caja{   
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    display: flex;   
    padding-bottom: 1rem;
    }
    .caja1{
        @extend .caja;
        color:bisque;
        width: 60%;
        border: 2px  rgb(175, 170, 166) solid;
        padding: 1.5px;
                       
    }
    .caja2{
        width: 30vw;
        padding-left: 2rem;
    }
    .parr{
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        text-align: center;
        
        
        h1{
            color: rgb(175, 170, 166);
            padding-top: 1rem ;
            
        }
        

    }
    
